a {
  text-decoration: none;
  box-shadow: none !important;
}

h1 {
  background-image: linear-gradient(
    to right,
    rgb(35, 35, 51),
    rgb(62, 62, 108)
  );
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

a:link,
a:visited {
  color: rgb(18, 50, 75);
  transition: all 0.3s;
}

a:hover,
a:active {
  color: rgb(28, 84, 126);
}

h3 a:link,
h3 a:visited {
  font-size: 25px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
